<section class="flex min-h-0 flex-col gap-y-3 scroll-mb-16 pagebreak">
  <h2 class="text-xl font-bold">Proyectos freelance</h2>
  <ul
    class="-mx-3 grid grid-cols-1 gap-3 print:grid-cols-3 print:gap-2 md:grid-cols-2 lg:grid-cols-3"
  >
    @for(project of projects; track project.id){
    <li
      class="rounded-lg bg-card text-card-foreground flex flex-col overflow-hidden border border-muted p-3"
    >
      <div class="flex flex-col space-y-1.5">
        <div class="space-y-1">
          <div class="flex items-center">
            <a
              class="font-semibold tracking-tight text-base hover:underline"
              href="{{ project.url }}"
              target="_blank"
            >
              {{ project.title }}
            </a>

            @if(project.online){
            <span class="text-green-500 animate-pulse print:hidden"
              >&nbsp;•&nbsp;</span
            >
            }@else {<span class="select-none">&nbsp; &nbsp;</span>}
            @if(project.github){
            <a
              href="{{ project.github }}"
              class="border-none w-fit print:hidden select-none"
              target="_blank"
              ><img
                ngSrc="assets/icons/github-invert.svg"
                alt="{{ project.github }}"
                class="text-black border-none"
                width="18"
                height="18"
            /></a>
            } @if(project.owner){&nbsp;
            <img
              ngSrc="assets/icons/owner.svg"
              alt="Creado por @jhangmez"
              class="text-black border-none select-none print:hidden"
              width="18"
              height="18"
            />
            }
          </div>

          <p class="hidden font-mono text-xs underline print:flex">
            {{ project.url }}
          </p>
          <p class="text-black/60 font-mono text-xs">
            {{ project.description }}
          </p>
        </div>
      </div>
      <div class="text-pretty font-mono text-sm mt-auto flex">
        <div class="mt-2 flex flex-wrap gap-1">
          @for(chip of project.chips; track chip.idchip){
          <p
            class="inline-flex items-center rounded-md border font-semibold font-mono text-nowrap border-transparent bg-black/10 hover:bg-black/20 transition-colors text-black/90 px-1 py-0 select-none text-[10px]"
          >
            {{ chip.description }}
          </p>
          }
        </div>
      </div>
    </li>
    }
  </ul>
</section>
